/* .carousel-inner > .carousel-item {
  height: 400px;
} */

@media (min-width: 767px) {
  #skills {
    height: 100vh;
  }
  #projects {
    height: 100vh;
  }
  #about {
    height: 100vh;
  }
}
@media (max-width: 767px) {
  .projectcontainer {
    width: 25rem;
  }
  .pfp {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 767px) {
  .projectcontainer {
    width: 50rem;
  }
}
